<footer>
    <div class="blue">
      <div class="footerh text">
        <h1>CONTACT US</h1>
      </div>
      <div class="details text">
        <div>
          <p>LOCATION</p>
          <p style="color: white;">First systems,<br>
            53, LH Nagar 3Rd Main rd,<br>
            Adambakkam Chennai - 600088,<br>
            Tamil Nadu, INDIA.</p>
        </div>
        <div>
          <p>CONTACT INFO</p>
          <p style="color: white;">Mail ID - niranjan@firstsystems.in</p>
          <p style="color: white;">Office - 044-49505827</p>
          <p style="color: white;">Niranjan - 9087707305</p>
        </div>
        <div class="social">
          <div><img src="./public/image/Facebook logo.png" alt="Facebooklogo">
            <img src="./public/image/Instagram logo.png" alt="Instagramlogo">
            <img src="./public/image/Twitter logo.png" alt="Twitterlogo">
            <img src="./public/image/WhatsApp logo.png" alt="WhatsApplogo">
          </div>
        </div>
      </div>
    </div>
    <div class="white">

      <p class="text">COPYRIGHT © 2024. ALL RIGHTS RESERVED.</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="./index.js"></script>