
.menu a{
    color: black;
    text-decoration: none;
}
.menu a:hover{
    color:#F04080;
    padding: 10px;
}
li{
    display: inline;
    list-style: none;
}
.nav{
  
    
    padding: top 0;
}
.logo{
    height: 65px;
    background-color:#407BFF;
    border-radius:0px 100px 100px 0px;
}
.text{
    font-family: Noto Serif TC;
    font-size: large;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: right;
     color: #F04080;
   
}
.contact h6{
    text-align: right;
}
.blue{
    height: auto;
    width: 100%;
    background-color: #407BFF;
}
.footerh{
    padding-top: 2cap;
    color:white;
    text-align: center;
    
}
.details{
    display: flex;
    justify-content: space-around;
    margin-top: 3cap;
    padding-bottom: 2cap;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social img{
    margin:10px;    
    padding-bottom: 3cap;
    }
  .white{
    text-align: center;
    padding-top: 3cap;
    padding-bottom: 2cap;
  }  
  footer{
    display: flex;
    flex-direction: column;
  }
  .vision{
    background-image:url(./image/BK\ eclipse.svg);
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1440px) {
    .vision {
      background-image:url(./image/BK\ eclipse.svg);
      background-repeat:round;
    }
  }

  .vision_s1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  }
  .container_box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1034px;
    height: 449px;
    }
    .vision__content{
      width: 450px;
      height: 145px;
    background-color: #D8B8EB;
     box-shadow: 15px 15px 4px 0px #0000005C;
     display: flex;
     align-items: center;
    }
   .partner{
    display: flex;
    justify-content: space-around;
    background: #FFFFFF80;

   }
   .partner__s1{
  width: 300px;
height: 300px;
padding-top: 20px;

   }
   .partner__s3{
    width: 300px;
    height: 300px;
    
   }
   .partner__s3>img{
    width: 300px;
    height: 300px;
    padding-bottom: 5cap;
    
   }
   .partner__s2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   }
   .banner{
  display:flex;
  justify-content: center;

   }
